@font-face {
font-family: 'DINWeb-Bold';
src: url('/fonts/DINWeb-Bold.woff') format('woff');
}

@font-face {
font-family: 'DINWeb';
src: url('/fonts/DINWeb.woff') format('woff');
}

@font-face {
font-family: 'DINWeb-Light';
src: url('/fonts/DINWeb-Light.woff') format('woff');
}

body, html {
font-family: DINWeb,sans-serif;
height: 100%;
margin: 0;
}
.grau{
color: #888;
}

.home-title {
font-size: 3rem;
}

.home-subtitle {
font-size: 1.6rem;
margin-bottom: 10px;
}

.accordian-content a {
  color: #F29400;
  font-weight: bold;
}

h2, .h2{
font-size: 24px;
}

.more-info-button {
display: inline-block;
line-height: 2.7rem;
}

.more-info-button a:link, .more-info-button a:visited {
display: flex;
width: fit-content;
background-color: #fff;
border-radius: 5px 0 0 5px;
}

.more-info-button a:hover, .more-info-button a:focus, .more-info-button a:active {
display: flex;
width: fit-content;
background-color: #fefefe;
border-radius: 5px 0 0 5px;
}

.more-info-button .info {
        border: 1px solid #F29400;
    border-right-color: white;
    position: relative;
    bottom: 0;
    background: #F29400;
    display: table;
    padding: 10px 5px;
    color: white;
    margin-top: 1rem;
    line-height: .8rem;
}

.more-info-button .info i {
padding-left: 10px;
padding-right: 10px;
}

.more-info-button  .desc {
    border: 1px solid #F29400;
    border-left: none;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 0;
    background: #F29400;
    display: table;
    padding: 12px;
    color: white;
    margin-top: 1rem;
    line-height: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-top-black {
background: black;
color: white
}

.wrap-container {
min-height: 75%;
}

.navbar-is-active a {
color: #F29400 !important;
}

.navbar-is-black {
background: #333333;
box-shadow: 0 4px 2px -2px #dedede;
height: 3.5rem;
}

.navbar-link {
color: white;
}

.navbar-link::after {
border: 1px solid white;
border-right: 0;
border-top: 0;
}

#login-container, #app {
height: 100%;
}

.navbar-link:hover, .navbar-dropdown-account{
background: #252525 !important;
color: white !important;
}

.navbar-dropdown-account:hover, .navbar-dropdown-account .navbar-item, .navbar-link {
background: #252525 !important;
color: white !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:    black;
opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:    black;
opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:    black;
}
::-ms-input-placeholder { /* Microsoft Edge */
color:    black;
}


/**  NAVI OBEN  **/
.navbar-is-white {
font-size: 18px;
border-bottom: 1px solid #F29400;
background: white;
position: relative;
box-shadow: 0 4px 2px -2px #dedede;
}
.navbar {
width: 100%;
}

.navbar-image-logo {
background-image: url(/images/logo_x2.png);
background-repeat: no-repeat;
background-position: center 50%;
line-height: 0;
font-size: 0;
color: transparent!important;
background-size: 146px;
width: 166px;
height: 120px;
}

.navbar-item a:hover{
color: #F29400;
}
.navbar-burger {
position: absolute;
z-index: 5;
right: 1rem;
top: 2rem;
background-color: #F29400;
}

.navbar-burger:hover {
background: rgba(242, 148, 0, 0.7);
}


/* SOCIAL ITEMS NAVBAR*/
.navbar-socials {
margin: auto;
color: white;
}

.navbar-search {
padding-left: 0;
}

.navbar-search span {
color: #F29400;
font-size: 13px;
}

.social-image {
width: 25px;
margin: 10px 0px 5px 10px;
}

.custombox-container {
height: 100% !important;
}

.wallpaper-home-objects {

/* Set a specific height */
min-height: 440px; 

/* Create the parallax scrolling effect */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.wallpaper-home-cloud {
min-height: 440px;
background: url(/images/bg_cloud);
background-position: right;
background-repeat: no-repeat;
background-size: cover;
}

#location_search_chosen_chosen, #position_search_chosen_chosen {
margin-right: 15px;
box-shadow: none;
}

#location_search_chosen_chosen a,  #position_search_chosen_chosen a {
box-shadow: none;
}

#location_search_chosen_chosen span,  #position_search_chosen_chosen span, #gallery_location_search_chosen_chosen span, #documents_categories_search_chosen_chosen span {
font-size: 14px;
padding-top: 1px;
}

.searchbar-employees-hidden input{
font-size: 14px;
}

/*.home-objects-background {
position: absolute;
background: rgba(255, 255, 255, 0.88);
height: 360px;
width: 60%;
top: 3rem;
border-radius: 0 0 20px 0;
}*/

.home-objects-container{
border-radius: 0 0 20px 0;
background: rgba(255, 255, 255, 0.88);
margin: 3rem 0;
padding-top: 2rem;
padding-bottom: 2rem;
}

.wlan-container {
border-radius: 0 0 20px 0;
background: rgba(255, 255, 255, 0.88);
margin: 3rem 0;
padding-top: 2rem;
padding-bottom: 2rem;
margin-left: 2rem; 
padding-left: 2rem;
}

.wlan-container  .home-cloud-subtitle {
  font-size: 1.6rem;
    line-height: 2rem;
    text-align: left;
    color: #888;
}

.wlan-container  .home-cloud-title {
    font-size: 3rem;
    margin-top: 1rem;
    text-align: left;
    line-height: 3.2rem;
    margin-bottom: 1rem;
}

.wallpaper-home-objects .home-objects-container{
padding-right: 2rem

}

.home-cloud-background {
position: absolute;
background: rgba(255, 255, 255, 0.88);
height: 360px;
width: 60%;
top: 3rem;
border-radius: 0 0 20px 0;
}

/*.home-objects-container {
top: 3rem;
max-height: 360px;
}*/

.home-cloud-container {
top: 3rem;
max-height: 360px;
}

.home-cloud-container .columns {
width: 100%;
}

.home-container {
min-height: auto;
margin-top: 3rem;
margin-bottom: 3rem;
}

.home-objects-title {
font-size: 32px;
margin-top: 15px;
margin-bottom: 15px;
text-align: left;
}

.home-cloud-title {
font-size: 3rem;
margin-top: 1rem;
text-align: right;
line-height: 3.2rem;
margin-bottom: 1rem;
}

.home-cloud-subtitle {
font-size: 1.6rem;
line-height: 2rem;
text-align: right;
color: #888;
}

.home-gallery-button {
display: flex;
}

.home-gallery-container {
margin-top: 3rem;
margin-bottom: 3rem;
}

.home-gallery-wrap {
margin-top: 3rem;
}

.home-gallery-title {
font-size: 24px;
}


.home-gallery-desc {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
color: #888;
}

.home-gallery-desc {
width: 90%;
}

.is-relative {
position: relative !important;
}

.buttons button {
background: #F29400;
width: fit-content;
color: white;
margin-top: 1rem;
border: none;
cursor: pointer;
padding: 7px 15px 7px; 
line-height: .8rem;
font-size: 1rem;
text-transform: uppercase;
}

#position_search_chosen_chosen .chosen-single div, #location_search_chosen_chosen .chosen-single div, #documents_search_chosen_chosen .chosen-single div, #objects_search_chosen_chosen .chosen-single div, #gallery_location_search_chosen_chosen .chosen-single div, #documents_categories_search_chosen_chosen .chosen-single div {
background: url(/images/fontawesome/down.png);
background-size: 16px;
background-repeat: no-repeat;
background-position: -4px 12px;
width: 25px;
}

#documents_search_chosen_chosen .chosen-drop {
min-width: 304px;
}

.news-title-wrap {
text-align: left;
}

.news-t-button {
text-align: right;
}

.news-t-button a {
color: #F29400;
}



.home-cloud-buttons {
margin-top: 1.5rem;
font-size: 1.2rem;
display: inline-block;
}

.home-cloud-button, .home-cloud-pdf-button {
background: #F29400; 
color: white; 
padding: .6rem 1rem;
margin-left: 1rem; 
border-radius: 7px; 
display: inline-block;
float: right;
margin-bottom: 1rem;
}

.home-cloud-button:hover, .home-cloud-pdf-button:hover {
color: white; 
cursor: pointer;
}

.home-cloud-button {
margin-right: 1.5rem;
}

.home-cloud-button i, .home-cloud-pdf-button i {
margin-right: 5px;
font-size: 25px;
}

.home-title {
font-size: 50px;
}

.faq-employee-mail, .faq-web {
color: #F29400;
font-weight: bold;
}



textarea {
overflow: auto !important;
}

img,
iframe {
  max-width: 100%;
}
.embed-container {
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}
.embed-container iframe {

  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.news-desc-wrap {
	padding: 0 1rem !important;
    margin-bottom: 2rem  !important;
}

.documents-container-telefon {
  color: red;
  font-weight: 600;
  margin-bottom: 1rem;
}

.doc-subcat-divs {
  display: none;
  margin-left: 1.5rem; 
  color: #F29400;
}

.doc-category-span2 {
  color: #F29400;
}

@font-face{font-family:'Glyphicons Halflings';src:url('/bootstrap/glyphicons-halflings-regular.eot');src:url('/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('/bootstrap/glyphicons-halflings-regular.woff') format('woff'),url('/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),url('/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.glyphicon-chevron-left:before{content:"\e079";}
.glyphicon-chevron-right:before{content:"\e080";}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}


.modal-body {
  padding: 0;
}

.modal-content, .modal-dialog {
  width: max-content !important;
}

.modal-open #myModal {
    display: flex !important;
}

.fr-emoticon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    max-width: 100px;
    padding: 3px 10px;
}

.vCardImage {
  font-size: 30px; 
  color: gray;
}

.vCardImage:hover {
  color: #F29400;
}

.employeeAbteilung, .employeeUnternehmen, .employeeLocation {
  color: #4a4a4a;
}

.home-container {
  min-height: 500px;
}

.news-image-wrap {
  width:100%; 
  min-height: 210px;
}

.news-wrap .column-new {
  padding: 0
}

.thumbnailphoto {
  width: 150px; 
  height: 150px; 
  background-size: cover !important; 
  border-radius:50%;
   margin: auto; 
   text-align: center; 
   margin-bottom: 20px; 
}

.divTableRow {
  display: block;
}

.news-faq-category-div {
  position: absolute; 
  top: 5px; 
  right: 1rem; 
  padding: .25rem;
}

.home-title {
  font-size: 40px;
}

.documents-search-description {
  font-size: 20px; 
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 20px;
}

.gallery-search-background {
  padding-right: 2rem;
}

.image-div-gallery {
  width: 432px; 
  height: 288px; 
  overflow: hidden;
}