@media screen and (max-width: 1465px) {
.employees-search-wrap {
display: block;
}

.searchbar-employees-wrap {
margin: 0;
right: 3rem;
width: 55%;
}

.searchbar-field-employees {
width: 60% !important;
margin: 0;
margin-bottom: 10px;
}

#location_search_chosen_chosen .chosen-single, #position_search_chosen_chosen .chosen-single {
width: 100% !important;
}

#location_search_chosen_chosen, #position_search_chosen_chosen {
width: 60% !important;
}

#location_search_chosen_chosen {
margin-right: 0;
margin-bottom: 10px;
}

.employees-search-background {
height: 275px;
}

.searchbar-field-objects {
margin-bottom: 10px;
}

.objects-search-background {
height: 220px;
}


.objects-search-wrap {
width: 100%;
display: block;
}

#objects_search_chosen_chosen, .searchbar-field-objects {
width: 100% !important;
}

.searchbar-span-objects {
position: absolute !important;
top: 12px;
right: 22px;
}

.chosen-single {
width: 100% !important;
}

.searchbar-document-wrap {
margin-top: 0;
width: 80%;
}
}

@media screen and (max-width: 2100px) {	
.employees-search-background {
width: 70%;
}
}
@media screen and (max-width: 1460px) {	
.ba_to_over {
position: relative;
left: 0px;
top:auto;
margin-top: 2rem;
}
}

@media screen and (max-width: 1408px) {
.documents-search-background {
width: 70%;
}
}

@media screen and (max-width: 1406px) {
.wlan-container {
margin-left: 0;
}

.wlan-container  .home-cloud-subtitle {
text-align: right;
}

.wlan-container  .home-cloud-title {
text-align: right;
}

.wlan-container {
	padding-right: 2rem;
}
}

@media screen and (max-width: 1300px) {


}



@media screen and (max-width: 1200px) {
.home-search-background {
width: 95%;
}
}


@media screen and (max-width: 1100px) {
.employees-search-container .chosen-single, .employees-search-container .chosen-container {
min-width: 95% !important;
}

.searchbar-field-employees {
width: 90% !important;
}

.employees-search-container .category-chose-span {
right: 5rem;
}


#location_search_chosen_chosen, #position_search_chosen_chosen, .searchbar-field-employees {
width: 70% !important;
}

.employees-search-background {
width: 90%;
}

.objects-search-title {
font-size: 30px;
}
}

@media screen and (max-width: 1024px) {
.news-result {
display: block;
/*text-align: left;*/
padding: 0 1rem 2rem 1rem;
}

.documents-container-title, .documents-container-description {
text-align: center;
}

.news-image-wrap {
/*min-width: 100%;*/
max-width: 100%;
}


.news-button {
margin-top: 15px;
}

.documents-search-wrap {
display: block;
}

.gallery-container img {
width: 100%;
height: 100%;
}

.margin-auto {
margin: auto;
}

.documents-search-container {
margin-top: 0;
top: 4rem;
height: calc(450px - 4rem);
text-align: center;
line-height: normal;
}

.searchbar-field2, .searchbar-field-faq {
width: 260px !important;
}

.documents-search-description {
margin-top: 1rem;
}

.chosen-container-single {
width: 75% !important;
}

.chosen-single {
width: 100% !important;
}

.category-options-spans {
line-height: 2.75rem;
}

.category-option-1 {
width: 5rem;
}

.category-option-2 {
width: 7rem;
}

.category-option-3 {
width: 6rem;
}

.faq-container-categories {
text-align: center
}

#documents_search_chosen_chosen, .searchbar-field2-doc {
margin: 0;
width: 100% !important;
}

.searchbar-field2-doc {
margin-bottom: 10px;
}

.documents-search-background {
height: 265px;
}
}



@media screen and (max-width: 768px) {

.faq-search-background {
width: 100%;
border-radius: 0;
height: 190px;
}

.otrs-container {
padding-right: 0;
text-align: center;
}

.otrs-button {
float: none;
margin: 0 auto;
}

.otrs-description {
padding: 3rem 2rem 2rem 2rem;
}
.news-image.column.is-12-mobile, .news-image-wrap.column.is-12-mobile {
width: 40%;
}
.news-about.column.is-12-mobile, .news-desc-wrap.column.is-12-mobile {
width: 60%;
}
.wallpaper-home-objects {
padding: 1rem 0;
}
.new-header{
display: inline-block;
}
.new-title{
width: 100%;
}
.new-date{
font-size: 16px;
width: 100%;
}

}



@media screen and (max-width: 700px) {
.news-wrap {
display: block;
}

.news-message span {
font-size: 16px;
}

.read-more-button {
position: relative;
}

.home-container {
margin: 0 auto;
padding: 1.5rem;
}

.objects-search-background { 
width: 95%;
}

#location_search_chosen_chosen, #position_search_chosen_chosen, .searchbar-field-employees {
width: 100% !important;
}

.searchbar-employees-wrap {
margin: 0;
right: 3rem;
width: 81%;
}

.documents-search-background {
height: 325px;
}

.documents-search-background {
width: 92%;
}
}

@media screen and (max-width: 692px) {
.doc-help-button {
margin: 0 auto;
}

.documents-container-categories, .documents-container-title, .documents-container-help, .documents-container-description {
text-align: center;
}

.documents-pdf-date {
display: none;
}

.documents-pdf-name {
width: 90%;
}

}


@media screen and (max-width: 600px) {
.home-title {
font-size: 30px;
}

.home-subtitle {
font-size: 18px;
}

}

@media screen and (max-width: 420px) {

.news-image.column.is-12-mobile, .news-image-wrap.column.is-12-mobile {
width: 100%;
}
.news-about.column.is-12-mobile, .news-desc-wrap.column.is-12-mobile  {
width: 100%;
}
}


.youtube-container {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.youtube-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 440px;
}